@model MyWebApplication.Domain.ViewModels.SearchViewModel

@{
	ViewData["Title"] = "AlbumSearch";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Album search</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="BandName" class="control-label">Band</label>
				<input asp-for="BandName" class="form-control" />
				<span asp-validation-for="BandName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TrackName" class="control-label">Track</label>
				<input asp-for="TrackName" class="form-control" />
				<span asp-validation-for="TrackName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ReleaseDate" class="control-label">Release date</label>
				<input asp-for="ReleaseDate" class="form-control" />
				<span asp-validation-for="ReleaseDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Search" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>
